<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.winter.app.product.ProductDAO">
  
  <select id="totalCount" resultType="Integer" parameterType="Pager">
  SELECT COUNT(PRODUCTNUM) FROM PRODUCT
  </select>
  
  <select id="getList" resultType="ProductDTO" >
  SELECT * FROM PRODUCT
  </select>
  
  <select id="getDetail" resultType="ProductDTO" parameterType="ProductDTO">
  SELECT * FROM PRODUCT WHERE PRODUCTNUM=#{productNum}
  </select>
  
  <insert id="add" parameterType="ProductDTO">
  INSERT INTO PRODUCT (PRODUCTNUM,PRODUCTNAME,PRODUCTCONTENTS,PRODUCTRATE,PRODUCTJUMSU)
  VALUES(PRODUCT_SEQ.NEXTVAL,#{productName},#{productContents},#{productRate},#{productJumsu})
  </insert>
  
  
  <update id="update" parameterType="productDTO">
  UPDATE PRODUCT SET WHERE
   PRODUCTNAME=#{productName}, 
  PRODUCTCONTENTS=#{productContents},
  PRODUCTRATE=#{productRate}
  
  </update>
  </mapper>