<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <mapper namespace="com.winter.app.product.ProductDAO">

<!--   
  	 <update id="setUpdate" parameterType="BoardDTO">
  		UPDATE QNA 
  		<set>
	  		<if test="boardTitle != null and boardTitle !=''">
	  		BOARDTITLE=#{boardTitle},
	  		</if>
	  		<if test="boardContents != null">
	  		BOARDCONTENTS=#{boardContents}
	  		</if>
  		</set>
  		WHERE BOARDNUM=#{boardNum}
  	</update>
    
    add
  	<insert id="setAdd" parameterType="BoardDTO">
  		<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA
  		(BOARDNUM, BOARDTITLE, BOARDWRITER, BOARDCONTENTS, BOARDDATE, BOARDHIT,
  		 BOARDREF, BOARDSTEP, BOARDDEPTH, FLAG
  		)
  		VALUES
  		(#{boardNum}, #{boardTitle}, #{boardWriter},#{boardContents}, SYSDATE, 0,#{boardNum},0,0,0)
  	</insert>
  
  	<update id="setDelete" parameterType="QnaDTO">
  		UPDATE QNA SET FLAG=#{flag}
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  
  
   	<resultMap type="QNADTO" id="getDetailResult">
  		<id column="BOARDNUM" property="boardNum"/>
  		<result column="BOARDTITLE" property="boardTitle"/>
  		<result column="BOARDContents" property="boardContents"/>
  		<result column="BOARDWriter" property="boardWriter"/>
  		<result column="BOARDDATE" property="boardDate"/>
  		<result column="BOARDHIT" property="boardHit"/>
  		<result column="BOARDREF" property="boardRef"/>
  		<result column="BOARDSTEP" property="boardStep"/>
  		<result column="BOARDDEPTH" property="boardDepth"/>
  		<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id property="fileNum" column="FILENUM"/>
  			<result property="fileName" column="FILENAME"/>
  			<result property="oriName" column="ORINAME"/>
  		</collection>
  		
  	</resultMap>
  	
  	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult" >
  		SELECT *
  		FROM QNA Q
  			 LEFT JOIN
  			 QNAFILES QF
  			 USING (BOARDNUM)
  		WHERE BOARDNUM=#{boardNum}	  
  	</select>
  
  	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(BOARDNUM) FROM QNA
  		<include refid="search"></include>
  	</select>
  
  	list
  	<select id="getList" resultType="QnaDTO" parameterType="Pager">
  		SELECT * FROM
  		(SELECT ROWNUM R, N.* FROM
  			(
  				SELECT * FROM QNA 
  			 	<include refid="search"></include>
  				ORDER BY BOARDREF DESC, BOARDSTEP ASC
  			) 
  		N)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}	
  	</select>
  	
  	  Delete
  <delete id="delete" parameterType="RegionDTO">
  	DELETE REGIONS WHERE REGION_ID=#{region_id}
  	
  </delete>
 
  update
  <update id="update" parameterType="RegionDTO">
  	UPDATE REGIONS SET REGION_NAME=#{region_name}
  	WHERE REGION_ID=#{region_id}
  </update>
  

  
  Insert
  SEQ: 테이블 매꾸기
  <insert id="add" parameterType="ProductDTO">
  keyproperty: 속성
  	<selectKey keyProperty="region_id" order="BEFORE" resultType="Long">
  		SELECT EMPLOYEES_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
  	INSERT INTO REGIONS
  	VALUES(#{region_id}, #{region_name})
  </insert>
  
 -->

  </mapper>